@page "/Reservations"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using SledgeRental.Data
@using SledgeRental.Data.Models
@using SledgeRental.Data.Models.Views

@inject ApplicationDbContext dbContext

@attribute [Authorize(Roles = "Staff")]

<h3>Sledges</h3>

<div class="row">
    <div class="col-md-8">
        <table class="table table-bordered table-striped">
            <tr class="border-1 bg-dark bg-opacity-25">
                <th text-center>Datum</th>
                <th text-center>Startzeit</th>
                <th text-center>Endzeit</th>
                <th text-center>Kunde</th>
                <th text-center>Schlitten</th>
                <th text-center>Schlittenkategorie</th>
            </tr>
            @foreach(ReservationInfo reservation in ReservationsList)
            {
                <tr class="border-1">
                    <td class="border-1">@reservation.ReservationDate</td>
                    <td class="border-1 text-center">@reservation.StartTime</td>
                    <td class="border-1 text-center">@reservation.EndTime</td>
                    <td class="border-1 text-center">@reservation.CustomerName</td>
                    <td class="border-1">@reservation.SledgeNumber</td>
                    <td class="border-1 text-center">@reservation.SledgeKind</td>
                </tr>   
            }
        </table>
    </div>
    <div class="col-md-3">
        <table class="table table-bordered">
            <tr>
                <th text-center>Schlitten Kategorie</th>
                <th text-center>Gesamtzeit</th>
            </tr>
            @foreach(SledgeTime sledgeTime in SledgeTimes)
            {
                <tr>
                    <td>@sledgeTime.SledgeKindName</td>
                    <td>@sledgeTime.TotalDuration</td>
                </tr>
            }
        </table>
    </div>
</div>



@code {
    private List<ReservationInfo> ReservationsList { get; set; } = [];

    private List<SledgeTime> SledgeTimes { get; set; } = [];

    protected override void OnInitialized()
    {
        // TODO: Order by date then by time
        ReservationsList = dbContext.ReservationInfos.ToList();

        LoadTotalTimes();

        base.OnInitialized();
    }


    /// <summary>
    /// Loads Total time each SledgeKind was in a reservation. Loads those values into the SledgeTimes list.
    /// </summary>
    private void LoadTotalTimes()
    {
        List<SledgeKind> sledgeKinds = dbContext.SledgeKinds.ToList();

        foreach (SledgeKind sledgKind in sledgeKinds)
        {
            List<Reservation> reservations = dbContext.Reservations
                .Include(s => s.Sledge)
                .Where(r => r.Sledge.SledgeKindId == sledgKind.Id)
                .ToList();

            TimeSpan totalTime = new TimeSpan();

            foreach(Reservation reservation in reservations)
            {
                totalTime += reservation.EndTime - reservation.StartTime;
            }

            SledgeTimes.Add(new SledgeTime()
            {
                TotalDuration = totalTime,
                SledgeKindName = sledgKind.Name
            });
        }
    }

    /// <summary>
    /// Display model for the time a SledgeKind was reserved for
    /// </summary>
    private class SledgeTime
    {
        public string SledgeKindName { get; set; } = string.Empty;

        public TimeSpan TotalDuration { get; set; }
    }
}
